<!DOCTYPE html>
<html>
<head>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>
<h1 class="text-center"> Search GitHub Users </h1>
	<div class="col-lg-12">
      <style>
        .form-signin {
          max-width: 550px;
          padding: 15px;
          margin: 0 auto;
        }
      </style>


      <div class="container text-center">
          <form class="form-signin" id="login_form" method="post" action="">
            {% csrf_token %}

            <br>
            <input type="text" name="user" class="form-control" placeholder="Github User Name, e.g: rahul" value="" required autofocus>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Get Users</button>
          </form>
      </div>
      <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped tablesorter">
              <thead>
              <tr>
                <th class="header"> Username <i class="icon-sort"></i></th>
                <th class="header"> Name <i class="icon-sort"></i></th>
                <th class="header"> Email <i class="icon-sort"></i></th>
                <th class="header"> Company <i class="icon-sort"></i></th>
                <th class="header"> Image URL <i class="icon-sort"></i></th>
              </tr>
          </thead>
          <tbody>

          {% for key in data %}
              <tr>
                  <td>{{ key.username }}</td>
                  <td>{{ key.name }}</td>
                  <td>{{ key.email }}</td>
                  <td>{{ key.company }}</td>
                  <td>{{ key.image_url }}</td>
              </tr>
          {% endfor %}

          </tbody>
          </table>
      </div>
    </div>
</body>
</html>